body {
    padding-top: 50px;
}

div.custom-container a {
    padding:5%;
}

html, body, .container {
    height: 100%;
}

.center-form-button {
	margin-top: 30px;
	text-align:center;
	margin-left: 0px;
}

#map {
	height: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box 
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    border:1px solid #8D8D8D;
}